<% include ../partials/header %>


  <div class="dark-overlay1">
    <div class="container py-5 text-dark">
        <h1>Welcome To Programerr!</h1>
        <p>Create your own blogs and share your life's programming.</p>
        <p>
          <a class="btn btn-dark btn-lg" href="/blogs/new">Add New Blog</a>
        </p>
    </div>
  </div>
<div class="row">
  <div class="col-md-10 col-lg-10">
    <div class="row mt-3" style="display:flex; flex-wrap: wrap;">
    <% Blogs.forEach(function(blog){ %>
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="post-preview">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <img class="img-fluid rounded" src="<%= blog.image %>" alt="card image cap">
              </div>
              <div class="col-md-8 col-lg-8 col-sm-8">
                <a class="" href="/blogs/<%=blog._id%>">

                  <h2 class="post-title">
                    <%= blog.title %>
                  </h2>
                  <h3 class="lead" style="display:block; text-overflow: ellipsis; width: 80%; overflow: hidden; white-space: nowrap;">
                   <%= blog.body %>
                  </h3>
                </a>
                <p class="d-inline">Posted by
                  <a href="/user/<%=blog.author.id%>/account"><%=blog.author.username%></a>
                  on September 24, 2018</p>
              </div>
            </div>
          </div>


          <hr>
            </div>
    <% }); %>
    </div>
    <div class="clearfix">
        <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
    </div>
  </div>
</div>
<section class="pt-5">
  <div class="row">
    <div class="col">
      <div class="dark-overlay2">
        <div class="container text-center py-5">
          <h4 class="display-4"> Share your idea, story or creativity.</h4>
          <a class="btn btn-lg btn-dark" href="/blogs/new">Add a Blog</a>
        </div>
      </div>
    </div>
  </div>
</section>


<% include ../partials/footer %>
