<% include ../partials/header %>
<!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4"><%= Blog.title %></h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="/user/<%=Blog.author.id%>/account"><%= Blog.author.username %></a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on <%=   Blog.date.getDate() + '-' + Blog.date.getMonth() + '-'+ Blog.date.getFullYear()
                      + '. At about '+ Blog.date.getHours() +':' + Blog.date.getMinutes() %></p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="<%= Blog.image %>" alt="<%= Blog.title%>">

          <hr>
          <div id="fb-root"></div>

          <!-- Post Content -->
          <p class="lead editable"><%= Blog.body %></p>



          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

          <hr>

              <% if(currentUser && Blog.author.id.equals(currentUser._id)){ %>
                <div class="container">
                     <form style="display: inline"
                         class="pull-right" action="/blogs/<%=Blog._id%>?_method=DELETE"
                         method="POST">
                         <button class="btn btn-sm btn-secondary">DELETE</button>
                      </form>
                    <a href="/blogs/<%=Blog._id%>/edit" class="btn btn-sm btn-dark">EDIT</a>
                 </div>
              <% } %>
                  <% if(!currentUser){ %>
                    <a class="btn btn-lg btn-light mb-3" href="/login">Login to add your Comment.</a>
                  <% } else { %>
                    <div class="card my-4">
                        <h5 class="card-header">Leave a Comment:</h5>
                        <div class="card-body">
                          <form action="/blogs/<%=Blog._id%>/comment" method="post">
                            <div class="form-group">
                              <textarea class="form-control" rows="3" type="text" name="commentText" placeholder="Add Your Comment here..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-secondary">Submit</button>
                          </form>
                        </div>
                      </div>
                  <% } %>
                  <% Blog.comments.forEach(function(comment){ %>
                    <div class="media mb-4">
                     <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                     <div class="media-body">
                       <h5 class="mt-0"><%= comment.author.userName %></h5>
                       <p><span class="align-right" style="font-size:70%">
                         <%=comment.date.getDate() + '-' + comment.date.getMonth() + '-'+ comment.date.getFullYear()
                         + '. Time: '+ comment.date.getHours() +':' + comment.date.getMinutes()%>
                       </span></p>
                       <%= comment.commentText %>

                     </div>
                   </div>
                  <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-sm btn-secondary"
                      href="/blogs/<%=Blog._id %>/comments/<%=comment._id %>/edit">Edit</a>
                    <form style="display: inline"
                          id="delete-form"
                          action="/blogs/<%=Blog._id %>/comments/<%=comment._id %>?_method=DELETE"
                          method="POST">
                        <input type="submit" class="btn btn-sm btn-light display-inline" value="Delete">
                    </form>
                  <% } %>
                  <%});%>
            </div>

        <!-- row ended -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">Web Developement</a>
                    </li>
                    <li>
                      <a href="#">Personality Developement</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Life hacks</a>
                    </li>
                    <li>
                      <a href="#">Weath Development</a>
                    </li>
                    <li>
                      <a href="#">Services</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-2">
            <h5 class="card-header">Recent Posts</h5>
            <div class="card-body">
              <% Blogs.forEach(function(blog){ %>
                <div class="col-lg-12 col-md-12 mx-auto">
                  <div class="post-preview">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <img class="img-fluid rounded" src="<%= blog.image %>" alt="card image cap">
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8">
                          <a class="" href="/blogs/<%=blog._id%>">

                            <h6 class="post-title">
                              <%= blog.title %>
                            </h6>
                            <p class="" style="display:block; text-overflow: ellipsis; width: 80%; overflow: hidden; white-space: nowrap;">
                             <%= blog.body %>
                           </p>
                          </a>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                <% }); %>
            </div>
          </div>

        </div>
      </div>
    </div>




<% include ../partials/footer %>
